In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import xarray as xr
import glob
import os
from datetime import datetime
import gsw
from preprocess_df_stored import process_df

In [2]:
#Code modified from: https://stackoverflow.com/questions/53189427/how-to-open-multiple-csv-files-from-a-folder-in-python
# the path to your csv file directory
mycsvdir = '/shared/marn5895/data/HungJosiahProject/'

# get all the csv files in that directory (assuming they have the extension .csv)
csvfiles = glob.glob(os.path.join(mycsvdir, '*.csv'))

# loop through the files and read them in with pandas
dataframes = []  # a list to hold all the individual pandas DataFrames
for csvfile in csvfiles:
    df = pd.read_csv(csvfile)
    dataframes.append(df)

# concatenate them all together
df = pd.concat(dataframes, ignore_index=True)

In [56]:
ds = pd.read_csv('/shared/marn5895/data/HungJosiahProject/WOD_NWA_1969_ctd.csv')
ds.head()

,lat,lon,time,Temperature,Salinity,z
0,32.1833,-78.6000,1969-01-07 21:00:00.000000,[19.444 16.667 16.111 13.444 11.944 10. 9....,[ 36.679 -9999. 36.679 -9999. -9999...,[ 0. 48.8 61. 79.2 91.4 109.7 121.9 140...
1,30.4500,-71.3333,1969-01-15 01:00:00.000107,[22.222 21.111 20.111 19.889 19.444 19.222 19....,[ 34.9 32.4 31.5 -9999. -9999. -9999...,[ 0. 121.9 137.2 152.4 167.6 198.1 213.4 259...
2,30.1000,-74.3833,1969-01-17 06:59:59.999142,[20.389 20.389 20.111 20.111 20.556 20.722 19....,[-9999],[ 0. 6.1 15.2 137.2 143.3 149.4 228.6 231...
3,30.7333,-71.1667,1969-01-20 08:00:00.000858,[20.444 20.444 19.389 18.889 18.556 18.333 18....,[ 36.369 -9999. -9999. -9999. -9999...,[ 0. 121.9 152.4 182.9 213.4 243.8 274.3 304...
4,33.3667,-73.7833,1969-01-31 01:00:00.000107,[19.722 19.722 19.722 19.722 19.444 18.833 18....,[ 36.5 -9999. -9999. -9999. -9999. -9999...,[ 0. 30.5 61. 121.9 137.2 182.9 213.4 243...

In [59]:
ds = pd.read_csv('/shared/marn5895/data/HungJosiahProject/WOD_NWA_1969_ctd.csv')
ds = process_df(ds)
ds.head()

Temperature
Salinity
z

,lat,lon,time,Temperature,Salinity,z
0,32.1833,-78.6000,1969-01-07 21:00:00,"[19.444, 16.667, 16.111, 13.444, 11.944, 10.0,...","[36.679, -9999.0, 36.679, -9999.0, -9999.0, -9...","[0.0, 48.8, 61.0, 79.2, 91.4, 109.7, 121.9, 14..."
1,30.4500,-71.3333,1969-01-15 01:00:00,"[22.222, 21.111, 20.111, 19.889, 19.444, 19.22...","[34.9, 32.4, 31.5, -9999.0, -9999.0, -9999.0, ...","[0.0, 121.9, 137.2, 152.4, 167.6, 198.1, 213.4..."
2,30.1000,-74.3833,1969-01-17 06:59:59,"[20.389, 20.389, 20.111, 20.111, 20.556, 20.72...",[-9999],"[0.0, 6.1, 15.2, 137.2, 143.3, 149.4, 228.6, 2..."
3,30.7333,-71.1667,1969-01-20 08:00:00,"[20.444, 20.444, 19.389, 18.889, 18.556, 18.33...","[36.369, -9999.0, -9999.0, -9999.0, -9999.0, -...","[0.0, 121.9, 152.4, 182.9, 213.4, 243.8, 274.3..."
4,33.3667,-73.7833,1969-01-31 01:00:00,"[19.722, 19.722, 19.722, 19.722, 19.444, 18.83...","[36.5, -9999.0, -9999.0, -9999.0, -9999.0, -99...","[0.0, 30.5, 61.0, 121.9, 137.2, 182.9, 213.4, ..."

In [53]:
var = 'Salinity'
print(ds[var][0])
array_string = ','.join(ds[var][0].replace('[ ', '[').split())
print(array_string)

array_string = list(array_string)
array_string[1] = ''
array_string
array_string = ''.join(array_string)

print(array_string)

[   36.679 -9999.       36.679 -9999.    -9999.    -9999.    -9999.
 -9999.    -9999.    -9999.    -9999.    -9999.    -9999.   ]
[,36.679,-9999.,36.679,-9999.,-9999.,-9999.,-9999.,-9999.,-9999.,-9999.,-9999.,-9999.,-9999.,]
[36.679,-9999.,36.679,-9999.,-9999.,-9999.,-9999.,-9999.,-9999.,-9999.,-9999.,-9999.,-9999.,]

In [54]:
array_string[-2]

','

In [14]:
#Transfer the string time to datetime value. 
#The split in x.split('.')[0] is to account for the decimals behind the number of seconds ('1969-01-07 21:00:00.000000')
df['time'] = list(map(lambda x: datetime.strptime(x.split('.')[0], '%Y-%m-%d %H:%M:%S'),
                      df['time']))

In [22]:
df['Temperature'][0]

'[19.444 16.667 16.111 13.444 11.944 10.     9.722  8.611  8.333  8.611\n  7.889  7.778  7.778]'

In [ ]:
def estimate_buoyancy_frequency(df):
    """
    Documentation: https://teos-10.github.io/GSW-Python/gsw_flat.html
    """
    i = 0
    CT_array = gsw.CT_from_t(SA=df['Salinity'][i], t=df['Temperature'][i], p)
    N_squared_value = gsw.Nsquared(SA=df['Salinity'][i], CT=CT_array, p, lat=df['lat'][i], axis=0)

In [20]:
i = 0
gsw.p_from_z(z=df['z'][i], lat=df['lat'][i])

ValueError: could not convert string to float: '[  0.   48.8  61.   79.2  91.4 109.7 121.9 140.2 152.4 170.7 182.9 213.4\n 243.8]'

In [24]:
df['z'][i].split(' ')

['[',
 '',
 '0.',
 '',
 '',
 '48.8',
 '',
 '61.',
 '',
 '',
 '79.2',
 '',
 '91.4',
 '109.7',
 '121.9',
 '140.2',
 '152.4',
 '170.7',
 '182.9',
 '213.4\n',
 '243.8]']